<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucuccs.accountancycalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Myaction" >
        <activity
            android:name="edu.ucuccs.accountancycalculator.Category"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.BasicEquation"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Category" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DebtRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Category" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.MarketRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Category" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Assets"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Ebit"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Equity"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.GrossProfit"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Liabilities"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.NetIncome"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.OperatingProfit"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.SalesRevenue"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.BasicEquation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DeptEquityRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.DebtRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DebtRatios"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.DebtRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DebtServiceCourage"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.DebtRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.LongTermDebtEquity"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.DebtRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DividendCover"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DividendYield"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DividendShare"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.EarningShare"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.PayoutRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.PEGRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.PriceSales"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.MarketRatio" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Liquidity"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Category" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.AcidTestRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Liquidity" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.CashRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Liquidity" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.CurrentRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Liquidity" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.OperatingRatio"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Liquidity" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.Depreciation"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Category" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.BookValue"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Depreciation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.DecliningBalance"
            android:label="@string/app_name"
            android:parentActivityName="edu.ucuccs.accountancycalculator.Depreciation" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.StarightLineMethod"
            android:label="@string/title_activity_staright_line_method" >
        </activity>
        <activity
            android:name="edu.ucuccs.accountancycalculator.UnitProduction"
            android:label="@string/title_activity_unit_production" >
        </activity>
    </application>

</manifest>